# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.VisitNowCross.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\PROJETOS_NET\Visit\visitnowcross\.idea\.idea.VisitNowCross\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
